/Chat.class
/ClientLogin.class
/FriendList.class
/Main.class
/MainController.class
/SigninAndSignup$1.class
/SigninAndSignup$2.class
/SigninAndSignup.class
/SigninController.class
/Main$1.class
/Main$2.class
/SigninController$1.class
/SigninController$2.class
/InfoController.class
